/*CSS document*/
html {
    background-color: #121610;
}
body {
    font-family: "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #EEEDEB;
    color: #121610;
    padding: 2em;
    margin: 2em;
}

div.container {
    max-width: 40rem;
    margin: auto;
    display: grid;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0em;
}

h1, h2, h3 {
    font-family: "input-serif-condensed", serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.3em;
    text-transform: uppercase;
    margin: auto;
}

a {
    color: #121610;
    text-decoration: none;
}

h1 {
    width: 100%;
}

h2 {
    font-size: 1.5rem;
    color: #FF3406;
    margin: 1em 0em;
}

h3 {
    color: #3F6E87;
    font-size: 1.2rem;
    margin: 0.5em 0em;
 
}

h3:hover {
    color: #314956;
}

p {
    margin: 0.5em 0em 1em;
}

.italic {
    font-style: italic;
}

section {
    margin: 1em 0em;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-color: #121610; 
    padding: 1em 0em 0em;
}

figcaption {
    font-style: italic;
    font-size: 0.8rem;
    padding: 0.5em 0em;
}

footer {
    font-size: 0.7rem;
}

/* navigation styling */
nav {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 2em;
}

nav a:hover {
    color: #FF3406;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-color: #FF3406;
}

nav ul li{
    display: inline;
    margin: auto;
    font-family: "input-serif-condensed", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    padding: 1em;
}

/* responsive grid*/
@media screen and (min-width:60em){
    div.container {
        max-width: 70rem;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 2em;
    }
    header {
        grid-column: 1/3;
    }
    
    section {
        max-width: 40rem;
        margin: 0 auto;
    }
    
    main {
        grid-column: 1/2fr;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 1em;
    }
    
    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }
    
    section.mainstory a {
        flex: 1 0 10em;
        display: flex;
        flex-direction: column;
    }
    
    section.mainstory a figure{
        flex: 1 0 10em;
    }
    
    section.mainstory a h3 {
        flex: 0 0 auto;
        margin: auto;
    }
    
    section.mainstory a figure img {
        height: 95%;
        object-fit: cover;
    }
    
    main.newsletter {
        max-width: 65rem;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5em;
        margin: auto;
        
    }

} 

/* photo gallery */
div.photogallery {
    margin: auto;
    max-width: 65rem;
}

main.photogallery {
    margin: auto;
    max-width: 65rem;
    position: relative;
    overflow: hidden;
    padding-bottom: calc(100% + 4em);
}

figure.photogallery {
    margin: auto;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

figcaption.photogallery {
    font-size: 1.2em;
    font-weight: bold;
    color: #888;
}

h2.photogallery {
    text-align: center;
}

#photo1:nth-of-type(1):checked ~ main figure:nth-of-type(1),
#photo2:nth-of-type(2):checked ~ main figure:nth-of-type(2),
#photo3:nth-of-type(3):checked ~ main figure:nth-of-type(3),
#photo4:nth-of-type(4):checked ~ main figure:nth-of-type(4),
#photo5:nth-of-type(5):checked ~ main figure:nth-of-type(5),
#photo6:nth-of-type(6):checked ~ main figure:nth-of-type(6),
#photo7:nth-of-type(7):checked ~ main figure:nth-of-type(7),
#photo8:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

nav.photogallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.2em;
}


input {
    display: none;
}

/* newsletter form */
main.newsletter {
    margin: auto;
    padding: 3rem 4rem;
    border: 3px solid;
}

form {
    margin: 0.5em 0em;
}

ul.newsletter li {
    display: flex;
    flex-wrap: wrap;
    max-width: 30em;
    padding-bottom: 0.5em;
}

ul.newsletter li input[type="text"],
ul.newsletter li input[type="email"],
ul.newsletter li input[type="tel"]{
    background-color: #EEEDEB;
    flex: 2 0 15em;
    box-sizing: border-box;
    display: flex;
    border: 0;
    border-bottom: 1px solid #0d1321;
}

ul.newsletter li input[type="checkbox"] {
    display: flex;
    margin-right: 1em;
    position: relative;
}

ul.newsletter li label {
    flex: 1 0 2em;
    font-weight: 600;
}

h3.newsletter {
    color: #3F6E87;
}

button {
    border: 0px;
    font-family: "input-serif-condensed", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #EEEDEB;
    background-color: #3F6E87;
    padding: 0.5em 1em;
}

button:hover {
    background-color: #314956;
}

/* dark mode */
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #314956;
        color: #EEEDEB;
    }
    
    h1 {  
    background-image: url("reverb_logo_white.png");  
    background-repeat: no-repeat;  
    background-size: contain;  
    }
    
    h1 img {  
    opacity: 0;  
    }  
    
    a {
        color: #EEEDEB;
    }
    
    section {
        border-color: #EEEDEB;
    }
    
    h3 {
        color: #EEEDEB;
    }

    h3:hover {
        color: #FF3406;
    }
    
    h2 {
        color: #EEEDEB;
    }
    
    h3.newsletter {
        color: #FF3406;
    }
    
    ul.newsletter li input[type="text"],
    ul.newsletter li input[type="email"],
    ul.newsletter li input[type="tel"]{
        background-color: #314956;
        border-bottom: 1px solid #EEEDEB;
        color: #EEEDEB;
    }
    
    button {
    color: #3F6E87;
    background-color: #EEEDEB;
    }

    button:hover {
        background-color: #FF3406;
        color: #EEEDEB;
    }
}
