/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}



/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */

header {
    background-color: rgb(240, 141, 52);
    color: rgb(250, 250, 250);
    padding: 1.5rem;
}

h1 {
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
    font-size: 2em;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 1.6em;
    color: rgb(249, 221, 191);
}

figcaption {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
    color: rgb(34, 34, 34);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: .75rem;
    margin-bottom: 1.6rem;
    caption-side: right;
}

h3 {
    border-top: rgb(240, 141, 52) solid 2px;
    margin: 1.5rem 1.5rem 1rem;
    padding-top: 1rem; 
    font-size: 1.2em;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    color: rgb(240, 141, 52);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

li {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.1rem;
}

footer {
    background-color:rgb(240, 141, 52);
    color:rgb(250, 250, 250);
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 3rem;
}

body {
    background-color:rgb(221, 221, 221);
}

div.container {
    background-color:rgb(250, 250, 250);
    max-width: 75em;
    margin: auto;
}

figure {
    display: grid;
    grid-template-columns: 80% auto;
    padding-bottom: 2rem;
}

figcaption {
    grid-column: 2/3;
}

main {
    display: grid;
    grid-template-columns: (2, 1fr);
    column-gap: 1rem;
}

section.ingredients {
    /* border-top: rgb(240, 141, 52) solid 2px; */
    grid-column: 1/2;
    margin-left: 1rem;
}

section.directions {
    /* border-top: rgb(240, 141, 52) solid 2px; */
    grid-column: 2/3;
    margin-right: 1rem;
}