/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body {
	font-family: "josefin-sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: rgb(210, 210, 210); 
	/* background: url(images/background.jpg); */
}

div.home-container { 
	/* background: url(images/pink-background.jpg) center center fixed; */
	background: url(images/pink-bg-pencils.jpg); 
	background-color: #f8d8e5; 
	background-size: cover;
	position: relative;
	min-height: 100vh;
	margin: auto;
	max-width: 80em;
}

div.container{ 
	position: relative;
	min-height: 100vh;
	margin: auto;
	max-width: 80em;
	background-color: rgb(250, 250, 250);
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


main { 
	padding: 1rem 2rem 5rem;
}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
	margin-bottom: 0.75em;
}

header {
	align-items: center;
	display: grid;
	grid-template-columns: 60% auto;
	background: #6b0f39;
	padding: 1rem 1rem;
	border-bottom: 8px double #6B0F39;
	/* background: url(images/background.jpg); /* japanese wave pattern */
}

h1 {
	width: 14em;
	grid-column: 1/2;
}

h2, h3, h4 {
	font-family: "josefin-sans", sans-serif;
	font-weight: 700;
	font-style: normal;
}

h2 {
	font-size: 2rem;
	margin: 2.5rem 0 .1rem;
	color: #6b0f39;
	text-transform: uppercase;
}
	
h3 {
	font-size: 1.5rem;
	margin: 1.4rem 0 .5rem;
}

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	grid-column: 2/3;
}
	
ul li 	{
	list-style-type: none;
}

nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin: 1.6em 0;
}
	
nav ul li a {
	background-color: #6b0f39;
	color: rgb(250, 250, 250);
	padding: .7rem 0.5rem .3em;
	border-radius: .2em;
}

nav ul li.selected a{
	background-color: rgb(250, 250, 250);
	color: #6B0F39;
	border-radius: .2em;
}	

figure {
	margin-bottom: 2rem;
}

main.menu ul li figure {
	margin-bottom: .3em;
}

main.menu section.category1, main.menu section.category2, main.menu section.category3, main.menu section.category4 {
	border-bottom: 3px solid #6B0F39;
	margin-bottom: 2em;
}

main.menu ul {
	margin: 0 0 3em;
	display: grid;
}	

main.menu ul li {
	margin: 0 0 2rem;
	display: grid;
	grid-template-columns: 80% auto;
	grid-template-rows: auto auto auto;
}	

main.menu ul li h4 {
	grid-row: 2/3;
}

p {
	margin: 1rem 0 1rem;
}

p.description, p.price {
	font-family: "playfair-display", serif;
	font-weight: 400;
	font-style: normal;
}
	
p.description {
	grid-column: 1/3;
	margin-top: 0.2em;
}
	
p.price {
	grid-row: 2/3;
	grid-column: 2/3;
	color: #6b0f39;
	text-align: right;
	margin: .1em;
}

main.menu figure {
	grid-column: 1/3;
}

p.slogan {
	font-size: 2.5rem;
	font-family: "playfair-display", serif;
	font-weight: 400;
	font-style: italic;
	margin: 5rem 0 5rem;
	color: #6b0f39;
}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1rem 1rem;
  background: #6b0f39;
}

address {
	color: rgb(10, 10, 10);
}

footer p {
	margin-top: 0;
	color:#fafafa;
}

article {
	margin: auto;
	background-color: #fafafa;
}

nav {
	margin: auto 0;
}

@media screen and (min-width: 60em) {
	nav ul li {
		display: inline;
		font-size: 1.5em;
		margin-left: .75rem;
	}

	main.menu ul {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto auto;
		column-gap: 3rem;
	}	
	article {
		max-width: 50%;
	}
	nav ul li a {
		border: #FFFFFF00 4px solid;
	}
	
	/* hover border effect */	
	nav ul li a:hover {
		border-color: #fafafa;
		border-style: solid;
		border-width: 4px;
	}

	nav ul li.selected a{
		border: none;
	}	

	nav ul li {
		font-size: 1.2em;
	}

	main.menu section.category1, main.menu section.category2, main.menu section.category3, main.menu section.category4 {
		border-bottom: none;
	}

	main.menu ul {
		margin: 0;
	}	
}
